# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.sqlite3

# Environment variables
.env
.env.*
!.env.example

# VSCode
.vscode/

# Pytest
.pytest_cache/
test.db

# Coverage
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db